/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

/* Título principal */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Contenedor del formulario */
.form-container {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Campos de entrada */
.form-container input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
}

/* Efecto de foco */
.form-container input:focus {
  outline: none;
  border: 1px solid #0d095e;
}

/* Botón */
.submit-btn {
  background-color: #0f0092;
  color: #FFF;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all .25s ease;
  border: none;
}

.submit-btn:hover {
  background-color: #07013d;
}

/* Lista de productos */
.product-list {
  width: 600%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Elemento de la lista */
.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

/* Botón de actualizar y eliminar */
.update-btn,
.delete-btn {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.update-btn {
  background-color: #ffc107;
  color: #000;
}

.update-btn:hover {
  background-color: #e0a800;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c82333;
}
